<!DOCTYPE html>
<html>
	<head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
		<script>
			$(function(){
				$('#fromdate').datetimepicker({
					format: 'DD-MM-YYYY HH:mm:ss'
				});
				$('#todate').datetimepicker({
					format: 'DD-MM-YYYY HH:mm:ss',
					useCurrent: false
				});

				$("#fromdate").on("dp.change", function (e) {
					$('#todate').data("DateTimePicker").minDate(e.date);
				});
				$("#todate").on("dp.change", function (e) {
					$('#fromdate').data("DateTimePicker").maxDate(e.date);
				});

				$("#filterBtn").click(function(){
					changePage(1);
				})

				getData(null, null, 1);
			});

			function getData(fromdate, todate, page){
				$.ajax({
					url: "/getLogs",
					type: "POST",
					data: {
						"fromdate": fromdate,
						"todate": todate,
						"page": page
					},
					success: function(data){
						var html = ""
						for(row of data["data"]){
							html += "<tr><td>"+row.path+"</td><td>"+row.ip+"</td><td>"+formatdate(row.timestamp)+"</td><td>"+row.params+"</td></tr>"
						}
						$("#results").html(html)

						fix_pages(data["page"], data["pages"])
					},
					error: function(data){
						if(data.responseJSON != null){
							alert(data.responseJSON.error);
						}
					}
				});
			}

			function formatdate(date){
				var d = new Date(date*1000);
				return ("0" + d.getDate()).slice(-2) + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2) + ":" + ("0" + d.getSeconds()).slice(-2);
			}

			function changePage(page){
				var fromdate = $("#fromdate").data("DateTimePicker").date()
				if(fromdate != undefined){
					fromdate = fromdate.unix()
				}
				var todate = $("#todate").data("DateTimePicker").date()
				if(todate != undefined){
					todate = fromdate.unix()
				}
				getData(fromdate, todate, page);
			}

			function fix_pages(page, pages){
				var start = page-2;
				var end = page+2;
				if(pages < 5){
					start = 1;
					end = pages;
				}
				else if(start <= 0){
					end -= (start -1);
					start = 1
				} else if(end > pages){
					start -= (end-pages);
					end = pages
				}
				var html = ''
				while(start <= end){
					html += '<li '+((start==page)?'class="active"':'')+'><a data-index="'+start+'">'+start+'</a></li>';
					start++;
				}

				if(page-3>=1 && page+3<=pages){
					if(page<pages/2){
						html = '<li class="disabled"><a>...</a></li>'+html
						html = '<li><a data-index="1">1</a></li>'+html
					} else {
						html += '<li class="disabled"><a>...</a></li>'
						html += '<li><a data-index="'+pages+'">'+pages+'</a></li>'
					}
				}
				
				html = '<li '+((page==1)?'class="disabled"':'')+'><a id="prev_pages" data-index="'+Math.max(1, page-5)+'" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>'+html;
				html += '<li '+((page==pages)?'class="disabled"':'')+'><a data-index="'+Math.min(pages, page+5)+'" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>';

				$("#pagination").html(html);
				$("[data-index]").click(function(){
					changePage($(this).data("index"));
				});
			}
		</script>
	</head>
	<body>
		<div id="tableModule" class="col-xs-12 col-md-10 col-md-offset-1" style="margin-top: 50px">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Table</h4>
				</div>
				<div class="panel-body">
					<div class="container">
						<div class='col-xs-5'>
							<div class="form-group">
								<div class='input-group date'>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
									<input id='fromdate' type='text' class="form-control" placeholder="From Date"/>
								</div>
							</div>
						</div>
						<div class='col-xs-5'>
							<div class="form-group">
								<div class='input-group date'>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
									<input id='todate' type='text' class="form-control" placeholder="To Date"/>
								</div>
							</div>
						</div>
						<div class='col-xs-2'>
							<div class="form-group">
								<button id="filterBtn" type="submit" class="btn btn-primary">Filter</button>
							</div>
						</div>
					</div>
					<div>
						<table class="table">
							<thead>
							<tr>
								<th>Path</th>
								<th>IP</th>
								<th>Timestamp</th>
								<th>Params</th>
							</tr>
							</thead>
							<tbody id='results'>
							</tbody>
						</table>
						<nav>
							<ul class="pagination" id="pagination" style="display: flex; justify-content: center">
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>