<!DOCTYPE html>
<html>
	<head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
		<script>
			$(function(){
				$("#uploadForm").on('submit', function(event){
					event.preventDefault();
					Fdata = new FormData($("#uploadForm")[0]);
					$.ajax({
						type: "POST",
						url: "/upload",
						data: Fdata,
						cache: false,
					    processData: false,
					    contentType: false,
						success: function(data)
						{
							window.location = "/?html=Data"
						},
						error: function(data){
							if(data.responseJSON != null){
								alert(data.responseJSON.error);
							}
						}
					});
				});
			})
		</script>
	</head>
	<body>
		<div id="uploadModule" class="col-xs-12 col-md-10 col-md-offset-1" style="margin-top: 50px">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Upload CSV</h4>
				</div>
				<form id="uploadForm" method="post" enctype="multipart/form-data" action="/upload">
					<div class="panel-body">
						<div class="form-group">
							<input type="file" class="form-control" name="file" style="height: 100%" required>
						</div>
						<div class="modal-footer">
							<button id="uploadBtn" type="submit" class="btn btn-primary">Upload</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>